<!DOCTYPE html>
<html>
  <head>
    <title>后台首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <%include ../include/head.ejs%>
    <ul>
      <li><a href="/article/publish">发表文章</a></li>
      <li><a href="/article">文章列表页</a></li>
    </ul>

    <script src="/javascripts/jquery.min.js"></script>
    <script>
 
    </script>
  </body>
</html>
